# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
Graphics/Debug/
Graphics/Release/
Graphics/WindowConnectors/Debug/
Graphics/WindowConnectors/Release/
ExampleProject/Debug/
ExampleProject/Release/
ExampleProject/build/
22OnField/

# Project files
*.sdf
*.opensdf
errorLog.txt